@media (max-width: 768px) {
    .flexme {
        flex-direction: column;
    }
}
.stockchart {
    margin: 15px;
}

.time_button {
    margin: 10px;
    padding: 10px 20px !important;
}
.addwl_button {
    margin: 10px;
    padding: 10px 20px !important;
    background-color: rgb(30, 42, 42) !important;
    float: left !important;
}