<nav class="navbar navbar-expand-lg navbar-custom" style="font-family: 'IBM Plex Sans', sans-serif; font-weight: 400;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/pages/home/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/new/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Add Product</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/list/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Show Products</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Graph</a>
                </li>
            </ul>
        </div>
    </div>
</nav>