<nav class="navbar navbar-expand-lg navbar-custom" style="font-family: 'IBM Plex Sans', sans-serif; font-weight: 400;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/pages/home/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/portfolio/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/watchlist/" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a href="/pages/notifications" class="nav-link" style="padding:5px; color: #000000; font-family: 'IBM Plex Sans', sans-serif; font-weight: 600;">Notifications</a>
                </li>
            </ul>
        </div>
    </div>
</nav>